body{
    background-color: whitesmoke;
    color: black;
    margin: auto;
    padding: auto;
    border: none;
    width: auto;
    height: auto;
    box-shadow: none;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14;
    font-weight: 400;
    font-stretch: 100%;
    font-display: swap;
    background: linear-gradient(to right, none, none);  /*none defines color you want*/
    background: radial-gradient(circle, none, none, none);  /*none defines color you want*/
}
button{
    background-color: white;
    color: black;
    padding: 20;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    border-radius: 10px;
}    
button:hover {
    box-shadow: 0 0 2px 2px black ; 
}